.features {
   &__wrapper {
        @include wrapper;
        width: 320px;
        @media (min-width:768px) and (max-width:1200px)
        {
            width: 640px;
            padding-left: 65px;
            padding-right: 65px;
        }
        @media (min-width:1200px) {
            width: 960px;
            padding-left: 120px;
            padding-right: 120px;
            
        }
    }
}
    .features-text {
    &__advantage {
        @extend %heading-1;
        display: block;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 32px;
    }
    &__description {
        @extend %text;
        padding: 0;
        padding-bottom: 25px;
        padding-left: 35px;
        padding-right: 35px;
        margin: 0;
        text-align: center;
    }
    &--border {
        border-bottom: 8px solid $background-color-main;
    }
}

.features-stats {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0 9px 20px;
        &--color-1 {
            background-color: #404040;
        }
        &--color-2 {
            background-color: #4e4e4e;
        }
        &--color-3 {
            background-color: $background-color-main;
        }
        &--pos {
            padding: 0;
        }
    }
    &__false {
        color: #7b7b7b;
        @extend %text;
        margin: 0 auto;
    }
    &__number {
        color: $color-main;
        @extend %text-big;
    }
    &__text {
        color: $color-main;
        padding-right: 20px;
        flex-basis: 110px;
        text-align: right;
    }
}