.features-slider {background-color: $background-color-main;
    color: $color-main;
    min-height: 360px;

}

#features-slide-1:checked ~.slider__control label[for="features-slide-1"],
#features-slide-2:checked ~.slider__control label[for="features-slide-2"],
#features-slide-3:checked ~.slider__control label[for="features-slide-3"] {background-color: $color-main;
            border-color: $color-main;
    
}
#features-slide-1:checked ~ slider__block .slider-1,
#features-slide-2:checked ~ slider__block .slider-2,
#features-slide-3:checked ~ slider__block .slider-3 {
//    display: block;
    opacity: 1;
    z-index: 1;
}
