.news {
    &__main {
          padding-top: 65px;
    @include screen ("tablet") {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 93px;
        align-items: flex-start;
        
    }
    @include screen ("desktop") {
            padding-top: 123px;
        }
    }
    
    &__wrapper {
        @include wrapper;
    }
    &__title {
        @extend %heading-1;
        margin: 0;
        padding: 0;
        text-align: center;
        
        padding-bottom: 15px;
        @include screen ("tablet") {
            
             font-size: 40px;
    line-height: 1.15;
    font-weight: 700;
            width: 50%;
            text-align: left;
        }
        @include screen ("desktop") {
            padding-left: 70px;
        }
        
       


    }
    &__block {
        @include screen ("tablet", max) {
            max-height: 316px;
            overflow-y: hidden;
        }
        @include screen ("tablet") {
            order: 4;
            display: flex;
            overflow-x: hidden;
        }
    }
    &__description {
        padding: 0;
        margin: 0;
        flex-basis: 215px;
        @include screen ("tablet") {
            padding-left: 20px;
        }
       
        &:hover {
            text-decoration: underline;
            color: #927866;
        }

    }
    &__item {

        display: flex;
        padding-bottom: 20px;
        padding-top: 20px;
        @include screen ("tablet", max) {
         justify-content: space-between;   
        }
        @include screen ("tablet") {
            width: 50%;
            padding-bottom: 37px;
            padding-top: 45px;
            flex-shrink: 0;
        }
        @include screen ("desktop") {
            width: 33.3333%;
        }
        &--border {
            @include screen ("tablet", max) {
            border-bottom: 1px solid #e5ddd5;
            }
        }
    }
    &__date {
        @extend %heading-1;
        color: $color-main;
        width: 30px;
        height: 50px;
        background-color: $color-base;
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        
        &:hover {
           background-color: #826550; 
        }
        &--pos {
            position: relative;
        }


        span {
            @extend %text-small;
            text-transform: lowercase;
            display: block;
            text-align: center;
            line-height: 0.5;

        }
        &::after {
            @include pseudo;
            border-top: 15px solid $color-base;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            background-color: transparent;
            bottom: -15px;
            left: 0;
        }
        &:hover::after {  
                border-top-color: #826550; 
            }

    }
    &__button {
        @include screen ("tablet") {
            padding: 6px 30px;
           
        }
    }
    &--border {
        @include screen ("tablet") {
            border-bottom: 1px solid #e5ddd5;
        }
    }
    &--color {
        background-color: $color-main;
    }
}
