.page-header {
    color: $color-main;
    @include screen ("tablet") {
        display: flex;
         flex-wrap: wrap;
    }
    &--color {
        background-color: $color-base;
        @include screen ("tablet") {
            background: url(../../img/back-tablet.jpg) center no-repeat;
            background-size: cover;
        }
        @media (max-width:767px) {
        background-color:$background-color-main;}
    }
    &__wrapper {
        @include screen ("tablet", max) {
            @include wrapper;
        width: 320px;
            
        }

    }
    &__logo {
        margin: 0 auto;
        @include screen ("tablet") {
            order: 3;
            min-height: 400px;
        }
        @include screen ("desktop") {
            min-height: 650px;
        }
        & img {
            display: block;
            margin: 0 auto;
            min-height: 85px;
        }
    }
    
}
