.page-footer {
    background-color: #292929;
    
    &__wrapper {
        @include wrapper;
        width: 320px;
        @media (min-width:768px) and (max-width:1200px)
        {
            width: 640px;
            padding-left: 65px;
            padding-right: 65px;
        }
        @media (min-width:1200px) {
            width: 960px;
            padding-left: 120px;
            padding-right: 120px;
            
        }
    }
    
    &__address {text-align: center;
        padding-top: 70px;
        &-description {
            padding: 0;
            margin: 0;
            color: $color-main;
            
        }
        
    }
    
     &__telephone {@extend %links;
         
        
    }
     &__developers {text-align: center;
         & span {color: $color-main;
             
         }
        
    }
    
    &__developer-name {
        @extend %links;
        text-transform: uppercase;
    }
}