.page-header {
    color: $color-main;
    @include screen ("tablet") {
        display: flex;
        flex-wrap: wrap;
    }
    &--color {
        background-color: $color-base;
        @include screen ("tablet") {
            background: url("../img/back-tablet.jpg") center no-repeat;
            background-size: cover;
        }
        @include screen ("tablet", max) {
            background-color: $background-color-main;
        }
        @include screen ("desktop") {
            background: url("../img/back-desktop.jpg") center no-repeat;
            background-size: cover;
        }
    }
    &__logo {
        margin: 0 auto;
        @include screen ("tablet") {
            order: 3;
            min-height: 400px;
        }
        @include screen ("desktop") {
            min-height: 650px;
        }
           &--min {
            @include screen ("tablet") {
                min-height: 213px;
            }
            @include screen ("desktop") {
                min-height: 310px;
            }
        }
        & img {
            display: block;
            margin: 0 auto;
            min-height: 85px;
            @include screen ("tablet") {
                width: 337px;
                height: 113px;
                padding-top: 36px;
            }
            @include screen ("desktop") {
                width: 380px;
                height: 170px;
                padding-top: 50px;
            }
        }
    }
}

