.page-footer {
    background-color: #292929;
    padding-bottom: 20px;
    
    &__wrapper {
        @include wrapper;
        width: 320px;
        @media (min-width:768px) and (max-width:1200px)
        {
            width: 640px;
//            padding-left: 65px;
//            padding-right: 65px;
        }
        @media (min-width:1200px) {
            width: 960px;
//            padding-left: 120px;
//            padding-right: 120px;
            
        }
    }
    
    &__address {text-align: center;
        padding-top: 70px;
         color: $color-main;
        &-description {
           display: block;
            width: 210px;
            margin: 0 auto;
            padding-bottom: 23px;
            
        }
        
    }
    
     &__telephone {@extend %links;
         
        
    }
     &__developer {text-align: center;
         & span {color: $color-main;
             
         }
        
    }
    
    &__developer-name {
        @extend %links;
        text-transform: uppercase;
    }
    &__name {
        padding-bottom: 20px;
        font-weight: 700;
        display: block;
    }
    &__developer-item {
        padding-bottom: 15px;
        display: block;
    }
}