.prices {
        &::after {
        @include screen('tablet', max) {
            @include pseudo;
             bottom: -30px;
            left: 0;
             z-index: 400;
             width: 100%;
             height: 30px;
             background-image: 
                 linear-gradient(to top right, transparent 50%, $color-slider 50%),
                 linear-gradient(to top left, transparent 50%, $color-slider 50%);
             background-repeat: no-repeat;
             background-position: 0 0, 100% 0;
             background-size: 50.3% 100%;
    }
    }
    &__block {
       padding-bottom: 17px;
    @include screen ("tablet") {
        padding-bottom: 52px;
    }
    
    @include screen ("desktop") {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 84px;
    } 
    }
    &__wrapper {
        @include wrapper;
    }
    &__price-list {
        @media (min-width:768px) and (max-width:1199px) {
        width: 100%;
    }
        @include screen ("tablet") {
           border-collapse: collapse; 
        }
        @include screen ("desktop") {
            width: 66.66%;
        }
        
        &--pos {
            @media (min-width:768px) and (max-width:1199px) {
            margin-bottom: 10px;
        }
        }
    }
    &--color {
        background-color: $color-slider;
        color: $color-main;
    }
    &__title {
        padding-top: 67px;
        @extend %heading-1;
        text-align: center;
        padding-bottom: 33px;
        width: 100%;
        @include screen ("tablet") {
            padding-top: 82px;
            text-align: left;
            font-size: 40px;
    line-height: 1.15;
    font-weight: 700;
            padding-bottom: 50px;
        }
    }
    &--pos {
        position: relative;
    }
    &__price-sales {
        padding-bottom: 15px;
        display: flex;
    
        
        @include screen('tablet', max) {
                padding-left: 20px;
            padding-top: 14px;
            }
        @media (min-width:768px) and (max-width:1199px) {
            padding-left: 25px;
            padding-top: 15px;
            align-items: center;
        }
        @include screen('desktop') {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 270px;
        }
       
        
        &--pos {
            @include screen('tablet', max) {
            margin-left: 20px;
            margin-right: 20px;
        }
        }
        
        &--border-gray {
            
        border: 1px solid #3e3e3e;
        }
        img {
            width: 60px;
            height: 60px;
            @include screen('tablet') {
                width: 72px;
                height: 72px;
            }
            @include screen('desktop') {
                width: 143px;
                height: 141px;
            }
            
        }
    }
    
    &__price-point {
        padding-bottom: 17px;
        
        @include screen('tablet', max) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include screen ("tablet") {

        }
    }
    &__price-item {
        padding-left: 20px;
        @include screen ("tablet") {
            border: 1px solid #3e3e3e;
            padding-top: 14px;
            padding-bottom: 14px;
        }
     
        &--number {
            @include screen('tablet', max) {
                display: none;
            }
            @include screen('tablet') {
                color: #727272;
            }
            
        }
        &--weight {
            font-weight: 700;
            @include screen('tablet', max) {
                flex-basis: 180px;
            }
        }
        
        &--order {
            @include screen ('tablet', max) {
                order: 4;
            } 
        }
        &--cost {
            @include screen ('tablet', max) {
                padding-right: 20px;
            }
        }
    }
    
    &__price-hours {
        padding: 0;
        margin: 0;
        
        @include screen ('tablet', max) {
                padding-left: 30px;
            
            }
        @media (min-width:768px) and (max-width:1199px) {
            
          font-size: 30px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase; 
            width: 370px;
            padding-left: 78px;
        }
        @include screen('desktop') {
            text-align: center;
            padding-top: 25px;
        }
        
        br {
            @media (min-width:768px) and (max-width:1199px) {
                display: none;
            }
            
        }
        
    }
    
}