.reviews {
    &__title {
        @extend %heading-1;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    &-slider__name {
        @extend %heading-2;
        
    }
     &-slider__text {
        margin: 0;
         padding: 0;
         
        
    }
    
}
.service-examples {
    min-height: 285px;

}

#reviews-slide-1:checked ~.slider__control label[for="reviews-slide-1"],
#reviews-slide-2:checked ~.slider__control label[for="reviews-slide-2"],
#reviews-slide-3:checked ~.slider__control label[for="reviews-slide-3"] {
    background-color: $color-slider;
            border-color: $color-slider;
    
}
#reviews-slide-1:checked ~ slider__block .slider-1,
#reviews-slide-2:checked ~ slider__block .slider-2,
#reviews-slide-3:checked ~ slider__block .slider-3 {
//    display: block;
    opacity: 1;
    z-index: 1;
}