.service-examples {
    padding-top: 30px;
    @include screen ("tablet") {
        padding-top: 46px;
        padding-bottom: 70px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    @include screen ("desktop") {
        padding-bottom: 100px;
    }
    &-main {
        &--pos {
            position: relative;
            z-index: 100;
        }
        &::after {
            @include screen ("tablet", max) {
                @include pseudo;
                width: 100%;
                height: 30px;
                background-image: linear-gradient(to top right, transparent 50%, $color-main 50%), linear-gradient(to top left, transparent 50%, $color-main 50%);
                background-repeat: no-repeat;
                background-position: 0 0, 100% 0;
                background-size: 50.3% 100%;
                bottom: -30px;
                left: 0;
            }
        }
        &-photo {
            &::before {
                @include pseudo;
                @include screen ("tablet") {
                    top: -42px;
                    left: 0;
                    z-index: 400;
                    width: 100%;
                    height: 42px;
                    background-image: linear-gradient(to bottom left, transparent 50%, $color-main 50%), linear-gradient(to bottom right, transparent 50%, $color-main 50%);
                    background-repeat: no-repeat;
                    background-position: 0 0, 100% 0;
                    background-size: 50.3% 100%;
                }
                @include screen ("desktop") {
                    height: 60px;
                    top: -60px;
                }
            }
            &::after {
                @include pseudo;
                @include screen ("desktop", max) {
                    bottom: -30px;
                    left: 0;
                    z-index: 400;
                    width: 100%;
                    height: 30px;
                    background-image: linear-gradient(to top right, transparent 50%, $color-main 50%), linear-gradient(to top left, transparent 50%, $color-main 50%);
                    background-repeat: no-repeat;
                    background-position: 0 0, 100% 0;
                    background-size: 50.3% 100%;
                }
                @media (min-width:768px) and (max-width:1199px) {
                    height: 42px;
                    bottom: -42px;
                }
            }
        }
    }
    &-main--color {
        background-color: $color-main;
    }
    &--photo {
        padding-bottom: 40px;
        @include screen ("tablet") {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include screen ("desktop") {
            padding-bottom: 90px;
        }
    }
    &__block {
        width: 100%;
        min-height: 155px;
        @include screen ("tablet") {
            padding-left: 80px;
            min-height: 160px;
        }
        @include screen ("desktop") {
            padding-left: 70px;
        }
        &--border {
            @include screen ("tablet") {
                border-bottom: 1px solid #e5ddd5;
                border-top: 1px solid #e5ddd5;
            }
        }
    }
    &__wrapper {
        @include wrapper;
    }
    &__best-work {
        @extend %text;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px 15px 15px 26px;
        &--pos {
            position: absolute;
            @include screen ("tablet", max) {
                left: 20px;
                top: 400px;
            }
            @media (min-width:768px) and (max-width:1199px) {
                left: 0;
                top: 40px;
            }
            @include screen ("desktop") {
                right: 0;
                top: 25px;
            }
        }
        &--color {
            color: $color-main;
            background-color: $color-menu;
        }
        &::after,
        &::before {
            @include pseudo;
        }
        &::before {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 45px solid $color-menu;
            top: 0px;
            @include screen ("desktop", max) {
                right: -10px;
            }
            @include screen ("desktop") {
                left: -10px;
            }
        }
        &::after {
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 45px solid $color-menu;
            bottom: 0px;
            @include screen ("desktop", max) {
                right: -10px;
            }
            @include screen ("desktop") {
                left: -10px;
            }
        }
    }
    &__title {
        @extend %heading-1;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-bottom: 35px;
        @include screen ("tablet") {
            font-size: 40px;
            line-height: 1.15;
            font-weight: 700;
            width: 50%;
            text-align: left;
        }
        &--photo {
            @include screen ("tablet") {
                padding-bottom: 50px;
            }
            @include screen ("desktop") {
                padding-bottom: 88px;
            }
        }
    }
    &__client-name {
        @extend %heading-2;
        padding-bottom: 15px;
        display: block;
        &--pos {
            @include screen ("tablet", max) {
                text-align: center;
            }
        }
        &-photo {
            padding-top: 30px;
            @include screen ("tablet") {
                padding-top: 45px;
                padding-bottom: 30px;
            }
            @include screen ("desktop") {
                padding-top: 35px;
            }
            &--big {
                @include screen ("desktop") {
                    padding-top: 130px;
                }
            }
        }
    }
    &__client-review {
        margin: 0;
        padding: 0;
        padding-bottom: 58px;
        @include screen ("tablet") {
            padding-bottom: 32px;
            padding-right: 50px;
        }
        &--width-min {
            @include screen ("desktop") {
                width: 316px;
            }
        }
        &--pos {
            padding-bottom: 25px;
            @include screen ("desktop") {
                padding-bottom: 55px;
            }
        }
    }
    &__review {
        display: flex;
        transition: all 0.2s linear;
        &--big {
            @include screen ("desktop") {
                display: flex;
            }
        }
        &--slider {
            @media (min-width: 768px) and (max-width: 1199px) {
                padding-top: 32px;
            }
            img {
                width: 50px;
                height: 49px;
                padding-top: 8px;
                @include screen ("tablet") {
                    width: 80px;
                    height: 80px;
                }
                @include screen ("desktop") {
                    width: 249px;
                    height: 160px;
                    padding-top: 0;
                }
            }
        }
        &--pos {
            position: relative;
            flex-direction: column;
            @include screen ("desktop", max) {}
        }
        &--border {
            border: 1px solid #e5ddd5;
        }
        &-prew,
        &-next {
            @include screen ("tablet", max) {
                display: none;
            }
            font-size: 0;
            position: absolute;
            width: 50px;
            height: 162px;
            border: 0;
            outline: 0;
            top: 127px;
            cursor: pointer;
            z-index: 300;
        }
        &-prew {
            left: 0;
            &::before {
                @include pseudo;
                @include triangle (black, left, 9px);
                left: 60%;
            }
            &--color {
                background-color: transparent;
                border: 1px solid #e5ddd5;
            }
        }
        &-next {
            right: 1px;
            &::before {
                @include pseudo;
                @include triangle (black, right, 9px);
                right: 60%;
            }
            &--color {
                background-color: transparent;
                border: 1px solid #e5ddd5;
            }
        }
        &--big {
            @include screen ("tablet", max) {
                margin-right: 20px;
                margin-left: 20px;
            }
        }
        &--photo {
            &:last-child {
                margin-bottom: 0;
            }
            @include screen ("tablet", max) {
                margin-bottom: 23px;
            }
            @media (min-width:768px) and (max-width:1199px) {
                margin-bottom: 40px;
                width: 100%;
            }
            @include screen ("desktop") {
                width: 33.333%;
                margin-right: 39px;
                &:last-child {
                    margin-right: 0;
                }
            }
            &-big {
                width: 100%;
                @include screen ("desktop") {
                    flex-direction: row;
                    margin-right: 0;
                    margin-bottom: 40px;
                }
                @include screen ("tablet", max) {
                    margin-right: 20px;
                    margin-left: 20px;
                    width: auto;
                }
            }
            @media (min-width:768px) and (max-width:1199px) {
                flex-direction: row;
            }
        }
    }
    &__client {
        &--pos {
            @include screen ("tablet", max) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        &--main {
            @include screen ("tablet") {
                margin-left: 26px;
            }
            @include screen ("desktop") {
                margin-left: 70px;
                padding-top: 31px;
            }
        }
        &-item {
            @include screen ("tablet") {
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            @include screen ("desktop") {
                padding-left: 35px;
                flex-grow: 1;
            }
        }
    }
    &__image {
        width: 280px;
        height: 176px;
        @include screen ("tablet") {
            width: 270px;
            height: 293px;
        }
        @include screen ("desktop") {
            width: 294px;
            height: 294px;
        }
        &--big {
            height: 480px;
            @include screen ("tablet") {
                height: 480px;
            }
            @include screen ("desktop") {
                width: 480px;
                height: 480px;
            }
        }
        &--pos {
            @include screen ("tablet", max) {
                margin-bottom: 22px;
                margin: 0 auto;
            }
        }
    }
    &__service-name {
        padding-bottom: 30px;
        &--pos {
            @include screen ("tablet", max) {
                margin-left: 24px;
            }
        }
    }
    &__button {
        @include screen ("tablet", max) {
            display: none;
        }
        @include screen ("tablet") {
            padding: 6px 30px;
        }
    }
    &__name-item {
        @extend %text-small;
        text-transform: uppercase;
        padding-left: 40px;
        margin-right: 35px;
        position: relative;
        &::before {
            @include pseudo;
            width: 50px;
            height: 30px;
            top: 0;
            left: 0;
        }
        &--scissors {
            padding-left: 38px;
            &::before {
                background: url("../img/scissors-mobile.svg") no-repeat;
                width: 20px;
                height: 20px;
            }
        }
        &--beard {
            padding-left: 45px;
            &::before {
                background: url("../img/beard-mobile.svg") no-repeat;
                width: 22px;
                height: 22px;
            }
        }
        &--mustache {
            padding-left: 48px;
            &::before {
                background: url("../img/mustache-mobile.svg") no-repeat;
                width: 45px;
                height: 15px;
                left: -10px;
            }
        }
    }
    &__control {
        @include screen ("tablet") {
            bottom: 70px!important;
        }
        @include screen ("desktop") {
            bottom: 50px!important;
        }
    }
}
