.slider {
    position: relative;
  &__wrapper {
        @include wrapper;
        width: 320px;
        @media (min-width:768px) and (max-width:1200px)
        {
            width: 640px;
            padding-left: 65px;
            padding-right: 65px;
        }
        @media (min-width:1200px) {
            width: 960px;
            padding-left: 120px;
            padding-right: 120px;
            
        }
    }
    &__block {position: relative;
        
    }
    &-text {position: absolute;
        z-index: 0;
        opacity: 0;
        transition: all 0.2s linear;
        
    }
     &__input {
        display: none;
    }
    &__advantage {display: block;
        text-align: center;
        @extend %heading-1;
        padding-bottom: 20px;
    }
    &__quality {
        @extend %text;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-bottom: 55px;
        
    } 
    &__control {
        position: absolute;
        bottom: 10px;
        left: 35%;
        z-index: 100;
        
    }
    &__toggle {width: 5px;
        height: 5px;
        transform: rotate(45deg);
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s linear;
        
        &--color-white {
           border: 1px solid #969696;
            
            
            &:hover,
            &:active {
            background-color: $color-main;
            border-color: $color-main;
        }
        }
        
        &--color-black {
           border: 1px solid #858483;
            
            
            &:hover,
            &:active {
            background-color: $color-slider;
            border-color: $color-slider;
        }
        }
        
        &--pos {
            margin-right: 25px;
        }
        
    }
}