.social-list {
    font-size: 0;
    
    &--pos {
        margin-top: 25px;
        margin-bottom: 33px;
    }
    
    &__item {
        display: inline-block;
        border: 1px solid #3e3e3e;
        
        &:active::before {
           opacity: 0.3; 
        }
        
        &--border-gray {
            
        border: 1px solid #3e3e3e;
            
        &:hover {
            border-color: #515151;
        }
    }
    
    &--active-black {
        
        &:active {
        background-color: #252525;
            border: 1px solid #252525;
        }
    }
        &--pos {
            position: relative;
                height: 100px;
        }
        &::before {
            @include pseudo;
            top: 40%;
            left: 35%;
            background: url(../../img/sprites.png) no-repeat;
            
        }
        &--vk {
            width: 108px;
            
            &::before {
                background-position: -6px -10px;
                width: 23px;
                height: 26px;
                left: 40%;
                top: 45%;
            }
        }
        &--fb {
            width: 98px;
            
            &::before {
                background-position: -7px -105px;
                width: 18px;
                height: 39px;
                left: 40%;
            }
        }
        &--inst {
            width: 108px;
            
            &::before {
                background-position: -7px -58px;
                width: 36px;
                height: 36px;
            }
        }
        
  
        
    }
}
 

   