
@font-face {
  font-family: 'PTSans-NarrowBold';
  src: url('PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),  url('PTSans-NarrowBold.woff') format('woff'), url('PTSans-NarrowBold.ttf')  format('truetype'), url('PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
