$font-size-base: 18px;
$line-height-base: 1.5;
$font-family-base: "PTSansNarrow", sans-serif, "Arial";
$font-weight-base: 400;
$color-base: #000000;
$background-color-main: #242424;
$color-main: #ffffff;
$color-slider: #353535;
